body {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsO6iMgVmraSFKmAul-ngGy2bey1Y4CRYpwGf8ejyxW-cycZX7&usqp=CAU);
	background-size: cover;
	border: 10px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 100%;
	margin:20px auto;
}

img {
	width: 300px;
	height: 300px;
	float: right;

}
body h1{
	color:white;
	font-size:35px ;
	text-decoration: underline;
}

ul {
	color: white;
}
h2{
	color:White;
	font-size: 30px;
	text-decoration: underline;
}
a{
	size:20px;
	color: white;
}

.hello{
	float:left ;
}





